<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top 5 JavaScript Frameworks</title>
    <meta name="description" content="Vue 3 test aplication"/>
    <link rel="canonical" href="https://jan-web.github.io/top-5-frameworks-on-Vue-3/" />
    <meta property="og:locale" content="en_EN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Top 5 JavaScript Frameworks" />
    <meta property="og:description" content="Top 5 JavaScript Frameworks" />
    <meta property="og:url" content="https://jan-web.github.io/top-5-frameworks-on-Vue-3/" />
    <meta property="og:site_name" content="Top 5 JavaScript Frameworks" />
    <meta property="article:section" content="Vue3" />
    <meta property="article:published_time" content="2021-02-28T12:06:46+01:00" />
    <meta property="og:image" content="https://jan-web.github.io/top-5-frameworks-on-Vue-3/images/top5frameworks_VUE3.jpg" />
    <meta property="og:image:width" content="700" />
    <meta property="og:image:height" content="364" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="Top 5 JavaScript Frameworks" />
    <meta name="twitter:title" content="Top 5 JavaScript Frameworks" />
    <meta name="twitter:image" content="https://jan-web.github.io/top-5-frameworks-on-Vue-3/images/top5frameworks_VUE3.jpg" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <div class="card">
        <h1 class="text-center">Top 5 JavaScript Frameworks</h1>
        <div class="framework text-center">
          <img :src="linkToImage" class="framework-img" alt="Frameworks" />
        </div>

        <div class="steps">
          <div class="steps-content">{{getActiveText}}</div>
          <ul class="steps-list">
            <li
              v-for="(item, i) in steps"
              :class="['steps-item',{
            'done': i < activeIndex,
            'active': i === activeIndex}]"
              @click="setActive(i)"
            >
              <span>{{i+1}}</span> {{item.title}}
            </li>
          </ul>
          <div v-if="isAppWork">
            <button class="btn" @click="prev" :disabled="isDisabled">
              Back
            </button>
            <button class="btn primary" @click="nextOfFinish">
              {{rightButtonTitle}}
            </button>
          </div>
          <div v-else>
            <button class="btn" @click="startFromBeginning">
              Start from begining
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue.js"></script>
  </body>
</html>
